li {
    list-style: none;
}

.events-container {
    display: flex;
    flex-direction: column;
}

.event-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.event {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ede6d6;
    border-radius: 5px;
    background-color: #ede6d6;
}

.event img {
    align-self: center;
}
.photo {
    width: 261px;
    height: 350px
}